* {
    font-family: "Poppins";
    font-size: 14px;
}


/* ==========- NAVBAR -==========  */

.navbar {
    height: 60px;
    width: 1150px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand img {
    margin-left: 158px;
}

.search-bar {
    margin-left: 100px;
}

.form-inline .form-control {
    width: 700px;
    margin-top: -50px;
    margin-left: 350px;
    border-radius: 20px 20px 20px 20px;
    border: 0;
    font-family: "Quicksand";
    font-weight: 300;
    background: rgba(0, 0, 0, 0.1);
    height: 40px;
}


/* ==========- LEFT-SIDEBAR -==========  */

.left-sidebar {
    width: 310px;
    float: left;
}

.left-sidebar .shortcut {
    width: 70px;
    height: 720px;
    background: white;
    float: left;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}